<div class="container highlight">
    <button type="button" (click)="copyToClip()" class="btn btn-outline-dark my-2">Copy</button>
    <div id="signaturecontent">
    <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        </head>
    
        <body>
        <table cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
        <td valign="top"  style="padding-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-right: 0px;">
        <span style="color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: bold;">{{name}}</span><br>
        </td>
        </tr>
    
        <tr>
        <td valign="top"  style="padding-left: 0px; padding-top: 2px; padding-bottom: 0px; padding-right: 0px;">
        <span style="margin-top: 0px; margin-bottom: 0px; color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 10pt; font-style: italic;">{{role}}</span><br>
        </td>
        </tr>
    
        <tr>
        <td valign="top"  style="padding-left: 0px; padding-top: 12px; padding-bottom: 0px; padding-right: 0px;">
        <span style="color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: normal;">{{mail}}</span><br>
        </td>
        </tr>
    
        <tr>
        <td valign="top"  style="padding-left: 0px; padding-top: 2px; padding-bottom: 0px; padding-right: 0px;">
        <span style="color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10pt; font-weight: normal;">Mobil: +49 (0) {{phone}}</span><br>
        </td>
        </tr>
    
        <tr>
        <td valign="top"  style="padding-left: 0px; padding-top: 12px; padding-bottom: 0px; padding-right: 0px;">
        <a href="https://linkit.tech/"><img src="{{logoUrl}}" nosend="1" border="0" width="132" height="40" alt="linkit" title="linkit e.V."></a>
        </td>
        </tr>
    
        <tr>
        <td valign="top"  style="padding-left: 0px; padding-top: 4px; padding-bottom: 0px; padding-right: 0px;">
        <span style="color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold;">linkit e.V. <span style="color: #777777; font-weight: normal;">-</span> Die Industrie 4.0 Hochschulgruppe<br> </span>
        </td>
        </tr>
    
        <tr>
        <td valign="top"  style="padding-left: 0px; padding-top: 4px; padding-bottom: 0px; padding-right: 0px;">
        <span style="color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10pt; font-style: normal; font-weight: normal;">KIT <span style="color: #777777;">-</span> Karlsruher Institut für Technologie<br> </span>
        </td>
        </tr>
    
        <tr>
        <td valign="top"  style="padding-left: 0px; padding-top: 2px; padding-bottom: 0px; padding-right: 0px;">
        <span style="color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal;">c/o AStA <span style="color: #777777;">|</span> Adenauerring 7 <span style="color: #777777;">|</span> 76131 Karlsruhe<br> </span>
        </td>
        </tr>
    
        <tr>
        <td valign="top"  style="padding-left: 0px; padding-top: 6px; padding-bottom: 0px; padding-right: 0px;">
        <span style="color: #777777; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 8pt; font-weight: regular;">
        <b>Registergericht:</b><span> Mannheim VR 701224</span>
        <br>
        <b>Vorstand:</b><span> Rebecca Bohn, Tobias Gaumann</span>
        </span>
        </td>
        </tr>
    
        </tbody>
        </table>
        </body>
    
    
        </html>
</div>
</div>